#ruler-container {
  width: 100%;
  height: 50px;
  display: flex;
  user-select: none;
  align-items: center;
  justify-content: space-between;
  background: var(--card-bg-color);
  padding-inline: calc(var(--spacing) * 2);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
