.trimmer-handler {
  z-index: 20;
  height: 100%;
  position: absolute;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  background-color: var(--accent-color);
}

.trimmer-handler[data-dragging="true"] {
  background-color: var(--primary-color);
}

#trimmer-start-handler {
  left: 0;
}

#trimmer-end-handler {
  left: 0;
}
