.video-url-updater {
  position: absolute;
  top: var(--spacing-5);
  right: var(--spacing-5);
}

.video-url-dialog {
  top: 20%;
  position: absolute;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--accent-color);
}

.video-url-form {
  display: flex;
  gap: var(--spacing-5);
  flex-direction: column;
}

.video-url-form input {
  padding: var(--spacing);
  border-radius: var(--border-radius);
  border: 1px solid var(--accent-color);
}

.video-url-form button {
  border: none;
  border-radius: var(--border-radius);
  padding: var(--spacing) var(--spacing-5);
}

.video-url-form-button-container {
  display: flex;
  gap: var(--spacing);
  align-self: flex-end;
}
