.video-player-container {
  display: flex;
  user-select: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-9);
}

.video-player-wrapper {
  display: flex;
  gap: var(--spacing);
  justify-content: center;
}

#video-player {
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  border: 1px solid var(--primary-color);
}

#video-player-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
}

.loader-icon {
  animation-name: rotate;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.play-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-5);
  padding-block: var(--spacing);
  padding-inline: var(--spacing-5);
  border-radius: var(--border-radius);
  background-color: var(--card-bg-color);
}

.play-button {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.play-button:disabled svg {
  fill: var(--bg-color);
  stroke: var(--secondary-color);
}

.play-button svg:hover {
  filter: drop-shadow(var(--shadow));
}

@media screen and (max-width: 768px) {
  #video-player {
    width: 100%;
  }
  #video-player-loading {
    width: 200px;
    height: 150px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #video-player {
    width: 70%;
  }
  #video-player-loading {
    width: 400px;
    height: 300px;
  }
}

@media screen and (min-width: 992px) {
  #video-player {
    width: 60%;
  }
  #video-player-loading {
    width: 700px;
    height: 400px;
  }
}
