.video-player-container {
  gap: 2rem;
  display: flex;
  user-select: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#video-player {
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  border: 1px solid var(--primary-color);
}

.play-container {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.play-button {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.play-button svg:hover {
  filter: drop-shadow(var(--shadow));
}
