#root {
  padding: var(--spacing-5);
}

.app {
  height: 100%;
  display: flex;
  align-items: center;
  gap: var(--spacing-5);
  flex-direction: column;
}

.video-trimmer-ruler-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.divider {
  height: 1px;
  width: 100%;
  margin-block: var(--spacing);
  background-color: var(--card-bg-color);
  border-top: 1px dashed var(--primary-color);
}
