:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border-radius: 0.5rem;

  --spacing: 0.5rem;
  --spacing-2: 0.75rem;
  --spacing-3: 1rem;
  --spacing-4: 1.5rem;
  --spacing-5: 2rem;
  --spacing-6: 2.5rem;
  --spacing-7: 3rem;
  --spacing-8: 3.5rem;
  --spacing-9: 4rem;

  --bg-color: #18181b;
  --info-color: #22c55e;
  --error-color: #dc2626;
  --primary-color: #94a3b8;
  --accent-color: #d4d4d4;
  --card-bg-color: #0c0a09;
  --secondary-color: #475569;
  --shadow: 0px 0px 6px rgba(212, 212, 212, 0.2);

  color: var(--primary-color);
  background-color: var(--bg-color);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: none;
  cursor: pointer;
  user-select: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
  padding: var(--spacing-5) var(--spacing-9);
}

button:hover {
  box-shadow: var(--shadow);
}

.icon-button {
  border: none;
  width: 2.2rem;
  display: flex;
  height: 2.2rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  padding: var(--spacing);
}
